{% extends 'base.html.twig' %}

{% block title %}Tareas index{% endblock %}

{% block body %}
    <h1>Tareas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Fecha_creacion</th>
                <th>Fecha_vencimiento</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.id }}</td>
                <td>{{ tarea.titulo }}</td>
                <td>{{ tarea.descripcion }}</td>
                <td>{{ tarea.fechaCreacion ? tarea.fechaCreacion|date('Y-m-d') : '' }}</td>
                <td>{{ tarea.fechaVencimiento ? tarea.fechaVencimiento|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_tareas_show', {'id': tarea.id}) }}">show</a>
                    <a href="{{ path('app_tareas_edit', {'id': tarea.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tareas_new') }}">Create new</a>
{% endblock %}
