{% extends 'base.html.twig' %}

{% block title %}Tareas{% endblock %}

{% block body %}
    <h1>Tareas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarea.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ tarea.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tarea.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha_creacion</th>
                <td>{{ tarea.fechaCreacion ? tarea.fechaCreacion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha_vencimiento</th>
                <td>{{ tarea.fechaVencimiento ? tarea.fechaVencimiento|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tareas_index') }}">back to list</a>

    <a href="{{ path('app_tareas_edit', {'id': tarea.id}) }}">edit</a>

    {{ include('tareas/_delete_form.html.twig') }}
{% endblock %}
